/bin
/target
.classpath
.project
.settings/*
*.epoch
*.lck
*.log
/src/main/webapp/WEB-INF/classes/*
!.settings/org.sonar.ide.eclipse.core.prefs
MAILINGI99920140718052120.CSV
RAIZ*.DAT*
*server.log.*
*.pmd
*.checkstyle
createBugBranch.bat
*.iml
src/test/resources/selenium/screenshots/
.tern-project
.idea/